.services {
  background-color: var(--yellow);
  position: relative;
  color: var(--yellow-dark);

  &:after {
    content: '';
    width: 100%;
    height: var(--dimension-lg);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    mask-image: url(../../images/separator.svg);
    mask-size: contain;
    mask-repeat: repeat;

    @media (max-width: 768px) {
      visibility: hidden;
    }
  }
}

.services__content {
  padding-top: var(--dimension-xlll);
  padding-bottom: calc(var(--dimension-xxxxl) * 2);
  display: flex;
  flex-direction: column;
  gap: var(--dimension-xlll);

  @media (max-width: 768px) {
    padding-top: var(--dimension-mdl);
    padding-bottom: var(--dimension-xll);
    gap: var(--dimension-xs);
  }
}

.services__content h2 {
  font-weight: var(--font-weight-bold);
  color: var(--black-text);
  font-size: var(--font-size-xxl);
}

.services__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 248px;
  gap: var(--dimension-sm);

  @media (max-width: 768px) {
    display: flex;
  }
}

.services__item {
  font-weight: var(--font-weight-bold);
  color: var(--white);
  font-size: var(--font-size-xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  & img {
    width: 100%;
    height: 100%;
  }

  & p {
    background-color: var(--red);
    text-align: center;
    padding: var(--dimension-lg);

    @media (max-width: 768px) {
      padding: var(--dimension-xxs);
    }
  }

  @media (max-width: 768px) {
    min-width: 339px;
    aspect-ratio: 281 / 139;
  }
}